
<script type="text/javascript">

</script>
<div class="container">

    <div class="divider"></div>

    <div class="row">
        <div class="col s12">

            <div class="card-panel">
                <p>
                    I am an avid and excited developer looking for opportunities to explore and expand my knowledge and
                    experience developing software and maintaining and securing network infrastructure. To see my collection
                    of favourite projects I  have worked on so far, see the project page. For any tips and tricks I have
                    found along the way in software and networking, visit my blog or wiki page.
                </p>
                <p>
                    I am a graduated software developer from the British Columbia Institute of Technology (BCIT) in the
                    Computer Systems Technology program where I specialized in Web and Mobile development. In 2017, I
                    completed my Degree also at BCIT in Network Administration And Security. To learn more about my
                    technical background, see the about page, or to contact me for opportunities on how I can help you, please
                    visit the contact page.
                </p>

            </div>

        </div>
    </div>



    <div ng-show="projects.showProjectsSection">
        <h4><i class="material-icons">power_settings_new</i>&nbsp;Recent Projects</h4>
        <div class="divider"></div>
    </div>

    <div class="progress animate-show" ng-show="projects.showProjectsLoader">
        <div class="indeterminate blue-grey darken-2"></div>
    </div>

    <div class="row animate-show" ng-show="projects.showProjects && projects.showProjectsSection">
        <div ng-repeat="project in projects.data">
            <div class="col m12 l4">

                <div class="card">
                    <div class="card-image">
                        <img ng-src="{{project.imgurl}}">

                    </div>
                    <div class="card-content">
                        <span class="card-title" style="color:black">{{ project.title }}</span>
                        <p>{{ project.description[0] | limitTo: 150 }}...<a href="#/projects" class="visible-link">more</a></p>
                    </div>
                    <div class="card-action" >
                        <div ng-repeat="link in project.links">
                            <a class="blue-grey-text darken-2" href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Start Posts Section -->

    <div ng-show="posts.showPostsSection">
        <h4><i class="material-icons">forum</i>&nbsp;Recent Blog Posts</h4>
        <div class="divider"></div>
    </div>

    <div class="progress animate-show" ng-show="posts.showPostsLoader">
        <div class="indeterminate blue-grey darken-2"></div>
    </div>

    <div class="row animate-show" ng-show="posts.showPosts && posts.showPostsSection">
        <div class="collection z-depth-1">
            <a ng-repeat="data in posts.data" href="https://blog.bensoer.com/{{data.url}}"  target="_blank" class="collection-item">
                <span class="card-title blue-grey-text text-darken-2" style="font-size:large;">{{data.title}}</span>
                <p class="grey-text text-darken-3">Posted: {{data.published_at| date:'medium'}}</p>
            </a>
        </div>
    </div>



</div>
