<div class="container">
    <div class="section">
        <h4>Get In Touch</h4>
        <p>Come find me on Twitter, Github, LinkedIn and Google+. <span ng-show="!CondensedMode"> Send me an email using the form below
            and I'll message you back within the next couple days.</span> Resumes and references are available upon request.A general resume
            can also be found on <a href="http://registry.jsonresume.org/bensoer" class="visible-link" target="_blank">http://registry.jsonresume.org/bensoer</a></p>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card-panel z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2 hide-on-small-and-down">
                        <img src="https://avatars.githubusercontent.com/u/8905442?v=3" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12 m6">
                          <span class="black-text center-on-small-only">
                                <div class="row">
                                    Ben Soer
                                </div>
                                <div class="row">
                                    <i class="tiny mdi-hardware-phone-android">604.842.2274</i>
                                </div>
                                <div class="row">
                                    <i class="tiny mdi-communication-email">ben@soernet.ca</i>
                                </div>
                          </span>
                    </div>

                    <div class="col m6 hide-on-small-and-down">
                        <div class="row">
                            <div class="col m3">
                                <a style="color:black;" href="https://github.com/bensoer" target="_blank"><li class="fa-3x fa fa-github"></li></a>
                            </div>
                            <div class="col m3">
                                <a style="color:black;" href="https://ca.linkedin.com/pub/ben-soer/b0/541/24a" target="_blank"><li class="fa-3x fa fa-linkedin"></li></a>
                            </div>
                            <div class="col m3">
                                <a style="color:black;" href="https://plus.google.com/105397548157818804415/about" target="_blank"><li class="fa-3x fa fa-google-plus"></li></a>
                            </div>
                            <div class="col m3">
                                <a style="color:black;" href="https://twitter.com/BensPlaylist" target="_blank"><li class="fa-3x fa fa-twitter"></li></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" ng-show="!CondensedMode">
        <div class="card-panel">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">perm_identity</i>
                        <input id="email_sender" type="email" class="validate" ng-model="email.sender">
                        <label for="email_sender">Your Email</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix hide-on-med-and-up">assignment</i>
                        <input id="email_subject" type="text" class="validate" ng-model="email.subject">
                        <label for="email_subject">Subject</label>
                    </div>

                </div>

                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="email_message" class="materialize-textarea validate" ng-model="email.message"></textarea>
                                <label for="email_message">Message</label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col s1 offset-s7" >
                        <div class="preloader-wrapper small active" >
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle" ng-show="emailLoader"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col s4 ">
                        <button class="btn waves-effect waves-light  blue-grey darken-2" type="submit"  ng-click="sendEmail()">Send
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>


                </div>
                <div class="row">
                    <div class="col s4">
                        <p class=" blue-grey-text darken-2">{{ btnClickMessage }}</p>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>