/* app css stylesheet */
/*
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  color: black;
}

.visible-link {
  /*color: #039be5;*/
  color: #455a64 ;
}


/* -- Form CSS Overrides -- */


/* label focus color */
.input-field input[type=text]:focus + label {
  color: #455a64 ;
}
.input-field input[type=email]:focus + label {
  color: #455a64 ;
}
#email_message:focus + label {
  color: #455a64 ;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #455a64 ;
  box-shadow: 0 1px 0 0 #455a64 ;
}
.input-field input[type=email]:focus {
  border-bottom: 1px solid #455a64 ;
  box-shadow: 0 1px 0 0 #455a64 ;
}
#email_message:focus {
  border-bottom: 1px solid #455a64 ;
  box-shadow: 0 1px 0 0 #455a64 ;
}
/* valid color */
.input-field input[type=email].valid {
  border-bottom: 1px solid #607d8b;
  box-shadow: 0 1px 0 0 #607d8b;
}
.input-field input[type=text].valid {
  border-bottom: 1px solid #607d8b;
  box-shadow: 0 1px 0 0 #607d8b;
}
#email_message.valid {
  border-bottom: 1px solid #607d8b;
  box-shadow: 0 1px 0 0 #607d8b;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

/* -- End Form CSS Overrides -- */

.click-box{
  border: white 2px solid;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.click-box:hover{
  border: white 3px solid;
}