<div class="container">
    <div class="progress animate-show" ng-show="showProjectsLoader">
        <div class="indeterminate blue-grey darken-2"></div>
    </div>
    <div ng-show="showErrorMessage">
        <p>
            There Was An Error Fetching The Projects Content. The Server May Be Experiencing Unexpected Difficulties.

            Click <a href="/" class="visible-link">here</a> to go back to the home page
        </p>
    </div>

    <div ng-show="showProjects">
        <div ng-repeat="projectRow in projectsCollection">

            <div class="row">

                <div ng-repeat="project in projectRow">

                    <div class="col m12 l6">

                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ project.imgurl }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ project.title }}<i class="material-icons right">more_vert</i></span>
                                <div ng-repeat="link in project.links">
                                    <p><a class="visible-link" href="{{ link.url }}" target="_blank">{{ link.name }}</a></p>
                                </div>

                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ project.title }}<i class="material-icons right">close</i></span>
                                <br><span class="grey-text text-darken-2">{{ project.startdate | date : 'longDate' }} - {{ (project.enddate | date : 'longDate') || 'Present' }}</span>
                                <br><span class="grey-text text-darken-2">
                                {{ formatLanguages(project.languages) }}
                            </span>
                                <div ng-repeat="paragraph in project.description">
                                    <p>{{ paragraph }}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> <!-- END OF INNER NG-REPEAT -->

            </div> <!-- END OF ROW -->

        </div> <!-- END OF OUTER NG-REPEAT -->
    </div>
</div>
